{% set isHome = true %}
{% extends "base.njk" %}

{% block container %}
    <div class="flex-grow-1">
        {% include "partials/top-nav.njk" %}
        <section class="pa5 mw9 center mt6 mt0-l">
            <header class="mt6 mt7-l mb5">
                <h1 class="f2 f1-ns fw5 ma0 lh-title">PickerCC 文档</h1>
            </header>
            <div class="f5 f4-ns ">
                {{ super() }}
            </div>

            <div class="g2x-ns gg3 mv6">
                <div class="pa5 br2 ba b--smoke-light flex flex-column justify-between items-start">
                    <h2 class="f3 f2-ns fw5 ma0 mb4 lh-title">开发人员</h2>
                    <div class="f5 measure mb5">
                        在开发人员指南中学习如何使用 Picker 构建
                    </div>
                    <ul class="list ma0 pa0 w-100">
                        <li class="mb5 f4">
                            <a href="/docs/getting-started"
                               class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                                {% include "partials/docs-icon.njk" %}
                                <span class="mr-auto">快速开始</span>
                                {% include "partials/caret-right.njk" %}
                            </a>
                        </li>
                        <li class="mb5 f4">
                            <a href="/docs/developer-guide"
                               class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                                {% include "partials/docs-icon.njk" %}
                                <span class="mr-auto">开发指南</span>
                                {% include "partials/caret-right.njk" %}
                            </a>
                        </li>
                        <li class="mb5 f4">
                            <a href="/docs/plugins"
                               class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex
                               items-center">
                                {% include "partials/docs-icon.njk" %}
                                <span class="mr-auto">插件开发</span>
                                {% include "partials/caret-right.njk" %}
                            </a>
                        </li>
                        <li class="mb5 f4">
                            <a href="/docs/graphql-api"
                               class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                                {% include "partials/docs-icon.njk" %}
                                <span class="mr-auto">GraphQL API</span>
                                {% include "partials/caret-right.njk" %}
                            </a>
                        </li>
                        <li class="mb5 f4">
                            <a href="/docs/typescript-api"
                               class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                                {% include "partials/docs-icon.njk" %}
                                <span class="mr-auto">TypeScript API</span>
                                {% include "partials/caret-right.njk" %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pa5 br2 ba b--smoke-light flex flex-column items-start">
                    <h2 class="f3 f2-ns fw5 ma0 mb4 lh-title">管理端</h2>
                    <div class="f5 measure mb5">
                        在我们的管理员指南中学习如何运行你的管理端
                    </div>
                    <ul class="list ma0 pa0 w-100">
                        <li class="mb5 f4">
                            <a href="/docs/administrator-ui"
                               class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                                {% include "partials/docs-icon.njk" %}
                                <span class="mr-auto">管理端开发指南</span>
                                {% include "partials/caret-right.njk" %}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </div>
{% endblock %}
